@media screen and (max-width: 479px) {
  .programcard {
    width: 98%;
    border-radius: 5px;
    border: 1.5px solid #ffac33;
    background: #fff;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1%;
  }
  .event-card {
    width: 96%;
    margin: 2%;
    height: 400px;
    border-radius: 5px;
    border: 1.5px solid #ffac33;
    background: #fff;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .donation-box {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 98%;
    height: fit-content;
    background-color: #056eae;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .vl-donation {
    display: none;
  }
  .give-msg {
    font-size: 1rem;
  }
  .donation-type {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 1rem;
  }
  .btn-donate {
    width: 150px;
    height: 60px;
    background-color: #f4900c;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 5px;
    font-weight: bold;
    margin: 12%;
  }

  .vol {
    display: block;
  }
  .vol-text {
    margin-left: 1%;
    font-size: 0.9rem;
    text-align: center;
  }
  .btn-vol {
    width: 150px;
    height: 60px;
    background-color: #0091e9;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 5% 30%;
    color: #fff;
    letter-spacing: 5px;
    font-weight: bold;
  }
}

@media screen and (max-width: 991px) {
  .nav-toggle {
    display: block;
    margin-right: 20px;
    color: #000;
  }
  .nav-icon {
    width: 25px;
    height: 25px;
  }

  .nav-links {
    display: none;
    /* margin-left: 120%; */
  }
  .open {
    display: flex;
    opacity: 1;
    position: absolute;
    background-color: #fff;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    z-index: 2;
    top: 100px;
    right: 0px;
    padding: 10px;
  }
  a {
    display: inline-block;
    margin-right: 20px;
  }

  .nav {
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    width: 105px;
    height: 90px;
  }
  .left-container {
    width: 100%;
  }
  .right-container {
    display: none;
  }
  .booksClubCard {
    width: 95%;
    margin: 1%;
    border-radius: 4px;
    border: 1.5px solid #ffac33;
    background: #fffef9;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2px;
  }
}
